<body>
  <h1>{{ title }}</h1>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <p-card>
      <div class="p-field">
        <p-floatlabel>
          <label for="email">Email</label>
          <input pInputText type="email" id="email" formControlName="email"
            [class.is-invalid]="isInvalidTouchedOrDirty(userForm.controls.email)" fluid>
          </p-floatlabel>
          @if (isInvalidTouchedOrDirty(userForm.controls.email)) {
            <small class="error">
              @if (userForm.controls.email.hasError('required')) {
                L'email est requis
              }
            </small>
          }
        </div>

        <div class="p-field">
          <p-floatlabel>
            <p-password type="password" id="password" formControlName="password"
              [class.is-invalid]="isInvalidTouchedOrDirty(userForm.controls.password)"
              [feedback]="false" [toggleMask]="true" fluid [inputStyleClass]="isInvalidTouchedOrDirty(userForm.controls.password) ? 'is-invalid' : ''" />
              <label for="password">Mot de passe</label>
            </p-floatlabel>
            @if (isInvalidTouchedOrDirty(userForm.controls.password)) {
              <small class="error">
                @if (userForm.controls.password.hasError('required')) {
                  Le mot de passe est requis
                }
              </small>
            }
          </div>

          <p-button type="submit" label="Connexion"></p-button>
        </p-card>
      </form>

    </body>
