

.error-message {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  padding:20px;
}
/* Mode sombre si activé dans le navigateur / système */


  .error { /* Texte en rouge pour l'erreur */
    font-size: 12px; /* Taille de police plus petite pour les messages d'erreur */
    display: block; /* Les messages seront affichés en bloc */
    margin-top: 5px;/* Espacement au-dessus du message d'erreur */
    margin-bottom: -5px;
    padding: 2px 5px; /* Espacement autour du texte d'erreur */
    border-radius: 4px; /* Coins arrondis */
  }


  /* Ajout d'un peu d'espace entre les champs du formulaire */
  .p-field {
    margin-bottom: 30px;
  }

    .p-field label {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  /* Modifier les bordures des champs de saisie pour les rendre plus modernes */
  /*input[formControlName] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }*/
::ng-deep p-password .valid {
  color: green;
}

::ng-deep p-password .invalid {
  color: red;
}

::ng-deep .is-invalid {
  color: red !important; /* pour le label */
  border-color: red !important; /* pour le champ si tu veux personnaliser */
}

::ng-deep .is-invalid-input {/* pour le label */
  border-color: red !important; /* pour le champ si tu veux personnaliser */
}
::ng-deep .is-invalid-label { /* pour le label */
  color: red !important; /* pour le champ si tu veux personnaliser */
}

::ng-deep .is-valid {
  color: green !important; /* pour le label */
  border-color: green !important; /* pour le champ si tu veux personnaliser */
}
 



  /* Afficher un message d'erreur avec du texte rouge */


    .error ng-container {
      font-weight: 500; /* Un peu plus de poids sur le texte d'erreur pour le rendre plus visible */
    }

  /* Ajouter un fond de couleur claire aux boutons */
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }


    button:hover:not(:disabled) {
      background-color: #0056b3;
    }

  /* Ajouter un léger effet d'ombre pour rendre le formulaire plus élégant */
  form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
  }



  

  
